.container{
    padding-top: 40px;
}
.container .row{
    /* border: black solid 1px; */
    width: 100%;
    height: auto;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
    box-shadow: rgb(144, 141, 141) 3px 3px 10px 0px;
}
.profile-pic{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin: auto;
    margin-top: 25px;
    border: 5px solid #1686FB;
    overflow: hidden;
}
.container h2{
    color: #323746;
    font-weight: 600;
}
.img-profile{
    position: relative;
    width: 152px;
    height: 152px;
    border-radius: 50%;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, 0.404);
    overflow: hidden;
    margin-top: 4px;
}
.name h3{
    margin-top: 30px;
    color: #323746;
    font-size: 24px;
    font-weight: 600;
}
.col{
    /* border: 1px solid black; */
    height: 75vh;
    padding: 0px 40px;
    overflow: hidden;
}
.name p{
    color: #323746;
    font-size: 16px;
    font-weight: 200;
}
.img-file{
    position: absolute;
    bottom: 0px;
    padding:10px 110px;
    right: -20px;
    outline: none;
    color: transparent;
    width: 100%;
    cursor: pointer;
    background: #32374699;
    transition: 0.6s;
}
.img-file::-webkit-file-upload-button{
    visibility: hidden;
}
.img-file::before{
    content: 'Edit';
    color: white;
    display: inline-block;
}
.profile-form{
    text-align: left;
}
.profile-form h4{
    font-size: 22px;
    font-weight: 600;
    margin: 20px 0px;
    padding-bottom: 5px;
    color: #323746;
    border-bottom: rgba(0, 0, 0, 0.21) solid 1px;
}
.forms{
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}
.form{
    width: 100%;
    /* border: 1px solid black; */
    margin-bottom: 20px;
}
.form input{
    width: 70%;
    padding: 3px 7px;
    border-radius: 5px;
    outline-color: #1686FB;
    border:#1685fbaa solid 1px;
    float: right;
}
.form label{
    font-size: 14px;
    font-weight: 600;
    margin-top: 7px;
}

.qr-txt h4{
    font-size: 22px;
    font-weight: 600;
    color: #323746;
    margin: 50px 0px 20px 0px;
}
.qr-img{
    width: 100%;
    height: 220px;
    padding: 0px 50px;
}
.img{
    width: 100%;
    height: 100%;
    padding: 10px;
    background: #E0EFFF;
}
.img img{
    width: 100%;
    height: 100%;
}
.qr-btn{
    margin-top: 20px;
}
.qr-btn button{
    padding: 5px 20px;
    border-radius: 5px;
    background: #1686FB;
    color: white;
    border: 2px solid #1686FB;
    font-weight: 600;
    transition: 0.6s;
}
.qr-btn button:hover{
    background: white;
    color: #1686FB;
    border: 2px solid #1686FB;
}
.qr-info{
    padding: 0px 55px;
    margin-top: 20px;
}
.qr-info p{
    font-size: 14px;
    font-weight: 300;
    color: #323746;
}
.qr-info a{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;

}
